application:
  project: protocol

server:
  shutdown: graceful
  port: 8080

spring:
  application.name: protocol-${common.blockchain}-nft-indexer-api
  jackson:
    mapper:
      ACCEPT_CASE_INSENSITIVE_ENUMS: true
    deserialization:
      FAIL_ON_UNKNOWN_PROPERTIES: false
    default-property-inclusion: non_null
  main:
    banner-mode: log
    web-application-type: reactive

rarible:
  core:
    apm:
      agent:
        enabled: true
        server: http://elk_apm-server:8200
        packages: com.rarible.protocol.nft.api
      web:
        filter:
          enabled: true
      annotation:
        enabled: true
  ethereum:
    converter:
      enabled: true
    read-only-transaction-sender:
      enabled: true
  cache:
    use-locks: true

api:
  opensea:
    read-timeout: 10000
    connect-timeout: 3000
    cache-timeout: 864000000
    request-timeout: 20000
  properties:
    api-url: https://api.rarible.com/images
    cache-timeout: 864000000
    request-timeout: 20000
    media-meta-timeout: 10000
  royalty:
    cache-timeout: 600000 # 10 min

common:
  cryptoPunksContractAddress: "0xb47e3cd837dDF8e4c57F05d70Ab865de6e193BBB"
