[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
disabled_rules=import-ordering,indent

[{Dockerfile,*.json,*.sh}]
indent_style = space
indent_size = 2

[{Jenkinsfile,*.jenkins,*.groovy}]
indent_style = space
indent_size = 2
