global:
  network: mainnet

polygon-erc20-api:
  replicas: 2
  resources:
    jvm:
      xmx_megabytes: 1024
      max_direct_memory_megabytes: 256

polygon-erc20-listener:
  resources:
    jvm:
      xmx_megabytes: 2048
      max_direct_memory_megabytes: 512

polygon-gateway:
  service:
    nodePort: 30117
  resources:
    jvm:
      xmx_megabytes: 1024

polygon-order-api:
  replicas: 2
  resources:
    jvm:
      xmx_megabytes: 2048
      max_direct_memory_megabytes: 256

polygon-order-listener:
  resources:
    jvm:
      xmx_megabytes: 2048
      max_direct_memory_megabytes: 256

polygon-nft-api:
  replicas: 3
  resources:
    jvm:
      xmx_megabytes: 1536
      max_direct_memory_megabytes: 512

polygon-nft-listener:
  environments:
    MANAGEMENT_HEALTH_PROBES_ENABLED: false
  resources:
    jvm:
      xmx_megabytes: 8192
      max_direct_memory_megabytes: 4096
