global:
  network: rinkeby

polygon-erc20-listener:
  resources:
    jvm:
      xmx_megabytes: 1024
      max_direct_memory_megabytes: 512

polygon-nft-listener:
  livenessProbe:
    initialDelaySeconds: 360
  resources:
    jvm:
      xmx_megabytes: 1536
      max_direct_memory_megabytes: 256

polygon-gateway:
  service:
    nodePort: 30417