application:
  project: protocol

server:
  shutdown: graceful
  port: 8080

spring:
  application.name: protocol-order-migration
  jackson:
    mapper:
      ACCEPT_CASE_INSENSITIVE_ENUMS: true
    deserialization:
      FAIL_ON_UNKNOWN_PROPERTIES: false
    default-property-inclusion: non_null
  aop:
    proxy-target-class: false
  main:
    banner-mode: log
    web-application-type: reactive

rarible:
  ethereum:
    converter:
      enabled: true
    read-only-transaction-sender:
      enabled: true
  core:
    contract:
      enabled: true

mongock:
  change-logs-scan-package:
    - com.rarible.protocol.order.migration.mongock.mongo
common:
  eip712-domain-name: Exchange
  eip712-domain-version: 2
