application:
  project: protocol

server:
  shutdown: graceful
  port: 8080

spring:
  application.name: protocol-${common.blockchain}-nft-migration
  jackson:
    mapper:
      ACCEPT_CASE_INSENSITIVE_ENUMS: true
    deserialization:
      FAIL_ON_UNKNOWN_PROPERTIES: false
    default-property-inclusion: non_null
  aop:
    proxy-target-class: false
  main:
    banner-mode: log
    web-application-type: reactive

rarible:
  ethereum:
    converter:
      enabled: true
    read-only-transaction-sender:
      enabled: true
  cache:
    use-locks: false

mongock:
  change-logs-scan-package:
    - com.rarible.protocol.nft.migration.mongock.mongo

common:
  metric-root-path: "protocol.nft.indexer"
  cryptoPunksContractAddress: "0xb47e3cd837dDF8e4c57F05d70Ab865de6e193BBB"
  factory:
    erc721Rarible: "0x0000000000000000000000000000000000000000"
    erc721RaribleUser: "0x0000000000000000000000000000000000000000"
    erc1155Rarible: "0x0000000000000000000000000000000000000000"
    erc1155RaribleUser: "0x0000000000000000000000000000000000000000"
  itemMeta:
    maxNameLength: 1000
    maxDescriptionLength: 10000

api:
  opensea:
    url: https://api.opensea.io/api/v1
    api-key: test
    read-timeout: 10000
    connect-timeout: 3000
    request-timeout: 20000
  properties:
    api-url: https://api.rarible.com/images
    cache-timeout: 315360000000 # 10 years (effectively, forever)
    request-timeout: 20000
    media-meta-timeout: 10000
  royalty:
    cache-timeout: 600000 # 10 min
