global:
  network: mainnet

ethereum-erc20-api:
  replicas: 2
  resources:
    jvm:
      xmx_megabytes: 1024
      max_direct_memory_megabytes: 256

ethereum-erc20-listener:
  resources:
    jvm:
      xmx_megabytes: 2048
      max_direct_memory_megabytes: 1024

ethereum-gateway:
  service:
    nodePort: 30116
  resources:
    jvm:
      xmx_megabytes: 1024

ethereum-order-api:
  replicas: 2
  resources:
    jvm:
      xmx_megabytes: 2048
      max_direct_memory_megabytes: 256

ethereum-order-listener:
  resources:
    jvm:
      xmx_megabytes: 4096
      max_direct_memory_megabytes: 1024

ethereum-nft-api:
  replicas: 3
  resources:
    jvm:
      xmx_megabytes: 1536
      max_direct_memory_megabytes: 512

ethereum-nft-listener:
  resources:
    jvm:
      xmx_megabytes: 2048
      max_direct_memory_megabytes: 1024
