application:
  project: protocol

server:
  shutdown: graceful
  port: 8080

spring:
  application.name: protocol-${listener.blockchain}-erc20-listener
  jackson:
    mapper:
      ACCEPT_CASE_INSENSITIVE_ENUMS: true
    deserialization:
      FAIL_ON_UNKNOWN_PROPERTIES: false
    default-property-inclusion: non_null
  codec:
    max-in-memory-size: 50MB
  aop:
    proxy-target-class: false
  main:
    banner-mode: log
    web-application-type: reactive
mongock:
  change-logs-scan-package:
    - com.rarible.blockchain.scanner.ethereum.migration

rarible:
  core:
    apm:
      agent:
        enabled: false
        server: http://elk_apm-server:8200
        packages: org.rarible.ethereum.erc20.api
  blockchain:
    monitoring:
      blockchain: ${listener.blockchain}
  ethereum:
    cache:
      enabled: true

common:
  metric-root-path: "protocol.erc20.indexer"
  blockchain: ${listener.blockchain}

ethereumMaxFrameSize: 104857600
ethereumBlockBatchSize: 50


blockchain:
  scanner:
    kafka:
      maxPollRecords: 100
    ethereum:
      blockchain: ${common.blockchain}
      service: "erc20"
      optimisticLockRetries: 5
      scan:
        enabled: true
        batch-load:
          enabled: true
          batch-size: 50
      task:
        reindex:
          enabled: true
        check-blocks:
          enabled: true
          reindex-blocks: true
      retry-policy:
        scan:
          reconnect-delay: 2s
        client:
          delay: 2s
      monitoring:
        enabled: true
        rootPath: ${common.metric-root-path}
        worker:
          pollingPeriod: 1m
